* {
    background-color: black;
    color: white;
}

h1 {
    border: 2px solid white;
    padding-top: 10px;
    padding-bottom: 10px;
    padding-left: 5px;
    margin: 0;
}

input {
    background-color: white;
    color: black;
}